@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* ! ROOT CASES START */

:root {
  --contacts-section-color: #ff4a4a;
  --default-button-background-color: #3c3d40;
  --first-text-color: #67696e;
  --horizontal-row-background-color: #1f2021;
  --main-background-color: #161617;
  --portfolio-section-color: #ffc455;
  --profile-section-color: #3a66e6;
  --resume-section-color: #1bc9e4;
  --second-text-color: #a3a6ad;
  --testimonials-section-color: #ff754a;
  --third-text-color: #ffffff;
  --instagram-color: #bc2a8d;
  --facebook-color: #4267b2;
  --linkedin-color: #0072b1;
  --twitter-color: #1da1f2;
  --youtube-color: #ff1a1a;
  --whatsapp-color: #4fce5d;
  --first-font-family: "Montserrat", sans-serif;
  --second-font-family: "Roboto", sans-serif;
}


/* ! ROOT CASES END */


/* ! BOOTSTRAP ROOT CASES START
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
! BOOTSTRAP ROOT CASES END */